/* ===============
   Yiayia's Custom Styles 
   =============== */

/* === Font Imports === */
@font-face {
  font-family: 'Yiayias';
  src: url('../fonts/dalek-webfont.eot');
  src: url('../fonts/dalek-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dalek-webfont.woff2') format('woff2'),
  url('../fonts/dalek-webfont.woff') format('woff'),
  url('../fonts/dalek-webfont.ttf') format('truetype'),
  url('../fonts/dalek-webfont.svg#dalekregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'yiayiasicons';
  src: url('../fonts/yiayiasicons.eot?35728660');
  src: url('../fonts/yiayiasicons.eot?35728660#iefix') format('embedded-opentype'),
  url('../fonts/yiayiasicons.woff?35728660') format('woff'),
  url('../fonts/yiayiasicons.ttf?35728660') format('truetype'),
  url('../fonts/yiayiasicons.svg?35728660#yiayiasicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* === Icon Fonts === */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "yiayiasicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
/* For safety - reset parent styles, that can break glyph codes */
  font-variant: normal;
  text-transform: none;
     
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;

/* Margin left adds extra space between icons */
  margin-left: .2em; 
}

.icon-mail-squared:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-facebook-squared:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-location:before { content: '\e805'; } /* '' */
.icon-angle-down:before { content: '\e806'; } /* '' */
.icon-right:before { content: '\e807'; } /* '' */
.icon-mail-alt:before { content: '\e808'; } /* '' */

/* === Transitions === */
a, 
.navbar-default, 
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a:after, 
.navbar-default .navbar-toggle, 
.yiayias-network {
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

/* === Main Navbar === */
.navbar-color-scroll /* the js code uses this to overide the navbar bg on scroll */ {
  background: rgb(25, 25, 25) !important; /* Fall-back for browsers that don't support rgba */
  background: rgba(25, 25, 25, .7) !important;
  border: none !important;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

/* === Navbar Title === */
.navbar-default .navbar-brand {
  font-family: 'Yiayias';
  font-size: 1.6em;
  color: #FFFFFF;
}	

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}

/* === Navbar Links === */
.navbar-default .navbar-nav > li > a {
  font-family: 'Raleway';
  font-size: 1.1em;
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 100%;
  background: transparent;
}

.navbar-default .navbar-nav > li > a:hover:after,
.navbar-default .navbar-nav > li > a:focus:after {
  height: 3px;
  background: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #D5D5D5;
}

/* === Navbar Links Mobile === */
.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default div.navbar-collapse {
  border-top: none;
  box-shadow: none;
}	

/* === Section Global === */
html, 
body,
.fixed-backgrounds {
  height: 100%;
  -webkit-background-size: 2000px 1175px;
}

.fixed-backgrounds section {
  position: relative; /* Needed for the vertical centering code (acts as a parent to the class) */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-transform-style: preserve-3d; /* Preserve 3d is a fix for the vertical centering hack blurring the content */
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fixed-backgrounds #yiayias-section-footer {
  background-repeat: repeat;
  background-attachment: fixed;
}

.vertical-center, 
.vertical-center-section-1 {
  position: relative;
  top: 49%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.vertical-center-section-3, 
.vertical-center-section-5,
.vertical-center-section-7,
.vertical-center-section-65 {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
}


/* === Typography === */
#yiayias-section-1 h1 {
  font-family: 'Yiayias';
  font-size: 12em;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(50, 50, 50, 1);
}

#yiayias-section-1 h2 {
  font-family: 'Raleway';
  font-size: 4em;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  line-height: 0.75;
  text-shadow: 0px 3px 4px rgba(50, 50, 50, 1);
}

#yiayias-section-1 h3 {
  font-family: 'Raleway';
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
  line-height: 0.75;
  text-shadow: 0px 3px 4px rgba(50, 50, 50, 1);
}

#yiayias-section-1 li a {
  font-family: 'Raleway';
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 3px 4px rgba(50, 50, 50, 1);
}

#yiayias-section-1 li {
  font-size: 1.6em;
  color: #FFFFFF;
}

#yiayias-section-1 li a:hover {
	color: #A0A0A0;
}

#yiayias-section-1 ul {
  text-align: center;
}

#yiayias-section-1 .fixed-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: 3%;
  margin-right: 3%;
}

#yiayias-section-1 .hr-heading {
  border-width: 5px 0;
  width: 110px;
  display: inline-block;
}

#yiayias-section-2 h2, 
#yiayias-section-4 h2,
#yiayias-section-6 h2,
#yiayias-section-6-9 h2 {
  font-size: 4em;
  font-family: 'Raleway';
  font-weight: 700;
  padding-top: 30px;
  text-align: center;
}

#yiayias-section-2 p, 
#yiayias-section-4 p,
#yiayias-section-6 p,
#yiayias-section-6-9 p {
  font-size: 16pt;
  font-family: 'Raleway';
  text-align: justify;
}	

#yiayias-section-3 h2, 
#yiayias-section-5 h2,
#yiayias-section-7 h2,
#yiayias-section-65 h2  {
  font-size: 6em;
  font-family: 'Raleway';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0px 3px 4px rgba(50, 50, 50, 1);
}	

#yiayias-section-3 .heading-underline,
#yiayias-section-5 .heading-underline,
#yiayias-section-7 .heading-underline, 
#yiayias-section-65 .heading-underline {
  border-bottom: 10px solid #FFFFFF;
}

#yiayias-section-footer h2 {
  font-size: 3em;
  font-family: 'Raleway';
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
 }

#yiayias-section-footer p {
  font-size: 2em;
  font-family: 'Raleway';
  color: #FFFFFF;
  text-align: center;
}

#yiayias-section-footer p a {
  color: #FFFFFF;
  text-decoration: none;
}

#yiayias-section-footer p a:hover {
  color: #809EB7;
}

#yiayias-section-footer .icon-facebook-squared, 
.icon-mail-squared, 
.icon-twitter-squared {
  font-size: 1.5em;
}

::selection {
  background: #60A8FF; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #60A8FF; /* Gecko Browsers */
}


#yiayias-section-footer li {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-size: 1.2em;
  padding-bottom: 1%;
  padding-top: 2%;
}

/* === Section 1 === */
#yiayias-section-1 {
  height: 100%;
  background-image: url(../images/bg/section1alt.jpg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale')";
  overflow-y: hidden !important; /* Needed otherwise there's a horizontal scroll bar on mobile. */
}

/* Needs a combination of display: inline-block; and text-align: center; to be centered properly */
#yiayias-section-1 a .icon-angle-down {
  font-size: 5.5em;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  display: block; 
  line-height: 0;
  -o-transition:.3s;
  -ms-transition:.3s;
  -moz-transition:.3s;
  -webkit-transition:.3s;
  transition:.3s;
}

#yiayias-section-1 .icon-angle-down:hover {
  color: #CECECE;
}

#yiayias-section-1 .bottom-padding {
  padding-bottom: 10px;
}


/* === Section 2 === */
#yiayias-section-2 {
  margin-bottom: 4%;
}

#yiayias-section-2 .section-2-shop-1, 
#yiayias-section-2 .section-2-shop-2, 
#yiayias-section-2 .section-2-shop-3,
#yiayias-section-2 .section-2-shop-4 {
  width: 240px;
  height: 240px;
  background-size: cover;
  display: inline-block;
}

#yiayias-section-2 .section-2-shop-1, 
#yiayias-section-2 .section-2-shop-2 {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#yiayias-section-2 .section-2-shop-3, 
#yiayias-section-2 .section-2-shop-4 {
  margin-left: 20px;
}

#yiayias-section-2 .section-2-shop-1 {
  background-image: url(../images/shop/1.jpg);
}

#yiayias-section-2 .section-2-shop-2 {
  background-image: url(../images/shop/2.jpg);
}

#yiayias-section-2 .section-2-shop-3 {
  background-image: url(../images/shop/3.jpg);
}

#yiayias-section-2 .section-2-shop-4 {
  background-image: url(../images/shop/4.jpg);
}

/* === Section 3 === */
#yiayias-section-3 {
  background-image: url(../images/bg/section2.jpg);
  background-size: cover;
  height: 550px;
  max-height: 550px;
  min-height: 550px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale')";
}
	
/* === Section 4 === */
#yiayias-section-4 {
  padding-bottom: 4%;
}

#yiayias-section-4 .section-4-cakes-1, 
#yiayias-section-4 .section-4-cakes-2 {
  height: 450px;
  width: 250px;
  margin-top: 50px;
  background-size: cover;
  margin-left: 20px;
  display: inline-block;
}

#yiayias-section-4 .section-4-cakes-1 {
  background-image: url(../images/cakes/1.jpg);
}

#yiayias-section-4 .section-4-cakes-2 {
  background-image: url(../images/cakes/2.jpg);
}

#yiayias-section-4 .section-4-cakes-3 {
  background-image: url(../images/cakes/3.jpg);
}

#yiayias-section-4 .section-4-cakes-4 {
  background-image: url(../images/cakes/4.jpg);
}

/* === Section 5 === */
#yiayias-section-5 {
  background-image: url(../images/bg/section3.jpg);
  height: 550px;
  max-height: 550px;
  min-height: 550px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section2.jpg', sizingMethod='scale')";
}

/* === Section 6 === */
#yiayias-section-6 {
  padding-bottom: 4%;
}

#yiayias-section-6 .section-6-coffee-1, 
#yiayias-section-6 .section-6-coffee-2 {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: 225px;
  width: 550px;
  background-size: cover;
}

#yiayias-section-6 .section-6-coffee-1 {
  background-image: url(../images/coffee/1.jpg);
  margin-top: 50px;
}

#yiayias-section-6 .section-6-coffee-2 {
  background-image: url(../images/coffee/2.jpg);
  margin-top: 20px;
}

/* === Section 65 === */
#yiayias-section-65 {
  background-image: url(../images/bg/section5.jpg);
  height: 550px;
  max-height: 550px;
  min-height: 550px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section2.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section2.jpg', sizingMethod='scale')";
}


/* === Section 6-9 === */
#yiayias-section-6-9 {
  padding-bottom: 4%;
}

#yiayias-section-6-9 .section-6-9-market-1, 
#yiayias-section-6-9 .section-6-9-market-2 {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: 225px;
  width: 550px;
  background-size: cover;
  padding-left: 20px;
}

#yiayias-section-6-9 .section-6-9-market-1 {
  background-image: url(../images/market/1.jpg);
  margin-top: 50px;
}

#yiayias-section-6-9 .section-6-9-market-2 {
  background-image: url(../images/market/2.jpg);
  margin-top: 20px;
}

#yiayias-section-6-9 .section-6-9-market-3 {
  background-image: url(../images/market/3.jpg);
}

#yiayias-section-6-9 .section-6-9-market-4 {
  background-image: url(../images/market/4.jpg);
}

/* === Section 7 === */
#yiayias-section-7 {
  background-image: url(../images/bg/section1alt.jpg);
  height: 550px;
  max-height: 550px;
  min-height: 550px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/bg/section1.jpg', sizingMethod='scale')";
}

/* === Section Border === */
.yiayias-border {
  height: 50px;
  background: url('../images/bg/border.png');
  background-size: 71px;
  background-color: #FFFFFF;
}

/* === Section Footer === */
#yiayias-section-footer {
  background-color: #073560;
  background-image: url("../images/misc/footer.png");
}

/* === Section Blog Title === */
#yiayias-section-blog-title {
  height: 300px;
  background-color: #073560;
}

#yiayias-section-blog-title h1 {
  font-size: 6em;
  font-family: 'yiayias';
  color: #FFFFFF;
  text-align: center;
}

#yiayias-section-blog-title h3 {
  font-size: 2em;
  font-family: 'Raleway';
  color: #FFFFFF;
  text-align: center;
}


/* === Media Queries === */
@media (max-width: 1199px) { /* Adjusted values for sm breakpoint */
	#yiayias-section-2 .section-2-shop-1, 
	#yiayias-section-2 .section-2-shop-2, 
	#yiayias-section-2 .section-2-shop-3,
	#yiayias-section-2 .section-2-shop-4 {
  	  width: 210px;
  	  height: 210px;
	}

	#yiayias-section-2 .section-2-shop-1, 
	#yiayias-section-2 .section-2-shop-2 {
	  margin-top: 115px;
	  margin-left: 20px;
	  margin-bottom: 20px;
	}

	#yiayias-section-2 .section-2-shop-3,
	#yiayias-section-2 .section-2-shop-4  {
	  margin-left: 20px;
	}

	#yiayias-section-4 .section-4-cakes-1, 
	#yiayias-section-4 .section-4-cakes-2 {
  	  height: 450px;
  	  width: 220px;
  	  margin-top: 100px;
	}

	#yiayias-section-6 .section-6-coffee-1, 
	#yiayias-section-6 .section-6-coffee-2 {
	  height: 200px;
	  width: 550px;
	}

	#yiayias-section-6 .section-6-coffee-1 {
	  margin-top: 120px;
	}	

  #yiayias-section-6-9 .section-6-9-market-1 {
    margin-top: 120px;
  }
}

@media (max-width: 1100px) {
	#yiayias-section-3 h2,
  #yiayias-section-5 h2,
  #yiayias-section-7 h2 {
	  font-size: 4.9em;
	}
}

@media (max-width: 991px) {
	#yiayias-section-2 .section-2-shop-1, 
	#yiayias-section-2 .section-2-shop-2, 
	#yiayias-section-2 .section-2-shop-3,
	#yiayias-section-2 .section-2-shop-4 {
  	  width: 240px;
  	  height: 240px;
	}

	#yiayias-section-2 .section-2-shop-1, 
	#yiayias-section-2 .section-2-shop-2 {
	  margin-top: 20px;
	  margin-bottom: 20px;
	}

	#yiayias-section-2 .row-center {
	  height: 550px;
   	  max-width: 550px;
   	  margin: 0px auto;
      vertical-align: middle;
	}

	#yiayias-section-4 .row-center {
	    height: 500px;
   	  max-width: 550px;
   	  margin: 0px auto;
      vertical-align: middle;
      margin-bottom: 0;
	}

  #yiayias-section-6-9 .row-center {
      height: 500px;
      max-width: 550px;
      margin: 0px auto;
      vertical-align: middle;
      margin-bottom: 0;
  }

  #yiayias-section-6-9 .section-6-9-market-1 {
    margin-top: 25px;
  }

	#yiayias-section-4 .section-4-cakes-1, 
	#yiayias-section-4 .section-4-cakes-2 {
  	  height: 450px;
  	  width: 250px;
  	  margin-top: 20px;
  	  margin-left: 20px;
  	  display: inline-block;
	}

	#yiayias-section-6 .section-6-coffee-1, 
	#yiayiassection-6 .section-6-coffee-2 {
	  height: 200px;
	  margin-top: 20px;
	  display: inline-block;
	}

	#yiayias-section-6 .row-center {
	  height: 470px;
   	max-width: 550px;
   	margin: 0px auto;
    vertical-align: middle;
    margin-bottom: 0;
	}	

  #yiayias-section-2 p, 
  #yiayias-section-4 p,
  #yiayias-section-6 p, 
  #yiayias-section-6-9 p {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 767px) {
	.navbar-default /* Makes it so mobiles have a bg behind the nav at all times */ { 
	  background: rgb(25, 25, 25) !important; /* Fall-back for browsers that don't support rgba */
      background: rgba(25, 25, 25, .7) !important;
      border: transparent !important;
	}

	.yiayias-network {
	  background-color: #000000 !important;
	}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: transparent;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: transparent;
    }

    .navbar-default .navbar-nav > li > a:after {
      width: 0%;
      background: transparent;
	}

	#yiayias-section-1 h1 {
	  font-size: 9em;
	}

	#yiayias-section-1 h2 {
	  font-size: 3em;
	}

	#yiayias-section-1 h3 {
	  font-size: 2em;
	}
}

@media (max-width: 760px) {
	#yiayias-section-3 h2,
  #yiayias-section-5 h2, 
	#yiayias-section-7 h2 {
	  font-size: 4em;
	}
}

@media (max-width: 650px) {
	#yiayias-section-2 .row-center {
		display: none;
	}

	#yiayias-section-4 .row-center {
	  height: 550px;
    max-width: 550px;
    margin: 0px auto;
    vertical-align: middle;
    margin-bottom: 0;
    display: none;
	}

	#yiayias-section-4 .section-4-cakes-1, 
	#yiayias-section-4 .section-4-cakes-2 {
  	height: 450px;
  	width: 250px;
  	margin-top: 20px;
  	margin-left: 20px;
	}	

	#yiayias-section-6 .row-center {
		display: none;
	}

  #yiayias-section-2 p, 
  #yiayias-section-4 p,
  #yiayias-section-6 p {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 600px) {
	#yiayias-section-3 h2,
  #yiayias-section-5 h2, 
	#yiayias-section-7 h2 {
	  font-size: 3em;
	}
}

@media (max-width: 550px) {
	#yiayias-section-footer h2 {
 	  font-size: 2em;
 	}

 	#yiayias-section-footer p {
 	  font-size: 1.2em;
 	}

 	#yiayias-section-footer .icon-facebook-squared, 
 	.icon-mail-squared, 
 	.icon-twitter-squared {
 	  font-size: 1.7em;
 	}
}

@media (max-width: 520px) {
	#yiayias-section-1 h1 {
	  font-size: 7em;
	}

	#yiayias-section-1 h2 {
	  font-size: 3em;
	}

	#yiayias-section-1 h3 {
	  font-size: 2em;
	}
}

@media (max-width: 500px) {
	#yiayias-section-2 h2, #yiayias-section-4 h2, #yiayias-section-6 h2 {
      font-size: 3em;
	}
}

@media (max-width: 460px) {
	#yiayias-section-3 .heading-underline,
  #yiayias-section-5 .heading-underline,
	#yiayias-section-7 .heading-underline {
	  border-bottom: 5px solid #FFFFFF;
	}

	#yiayias-section-3 h2,
  #yiayias-section-5 h2, 
	#yiayias-section-7 h2 {
	  font-size: 2em;
	}

	#yiayias-section-1 .fixed-bottom {
	  display: none;
	}

	#yiayias-section-1 h3 {
  	  line-height: 1.2;
	}

	.vertical-center-section-1 {
  	  top: 57%; /* Needed to vertically center at this size as nav takes up so much space */
	}
}

@media (max-width: 400px) {
	#yiayias-section-1 h1 {
	  font-size: 5.9em;
	}

	#yiayias-section-1 h2 {
	  font-size: 3em;
	}

	#yiayias-section-1 h3 {
	  font-size: 2em;
	}
}

@media (max-width: 360px) {
	#yiayias-section-2 p, #yiayias-section-4 p, #yiayias-section-6 p {
	  font-size: 16pt;
	}
}

@media (max-width: 350px) {
	#yiayias-section-1 h1 {
	  font-size: 5em;
	}

	#yiayias-section-1 h2 {
	  font-size: 2.5em;
	}

	#yiayias-section-1 h3 {
	  font-size: 2em;
	}
}
	
/* These Media Queries target ios devices and fixes the background images displaying incorrectly due to background-attachment: fixed; 
They force a background-attachment: scroll; making the backgrounds display and function normally. */

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 1) {
 	.fixed-backgrounds section {
      background-attachment: scroll;
    }

    .navbar-default /* Workaround for the dom being frozen on scroll. Needed otherwise the navbar items will be unreadable over white */ {
      background: rgb(25, 25, 25) !important; /* Fall-back for browsers that don't support rgba */
      background: rgba(25, 25, 25, .7) !important;
      border: transparent !important;
	}

	.yiayias-network {
	  background-color: #000000 !important;
	}

	#yiayias-section-footer {
      background-attachment: scroll !important;
    }
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) {
	.fixed-backgrounds section {
      background-attachment: scroll;
    }

    .navbar-default /* Workaround for the dom being frozen on scroll. Needed otherwise the navbar items will be unreadable over white */ {
      background: rgb(25, 25, 25) !important; /* Fall-back for browsers that don't support rgba */
      background: rgba(25, 25, 25, .7) !important;
      border: transparent !important;
	}

	.yiayias-network {
	  background-color: #000000 !important;
	}

	#yiayias-section-footer {
      background-attachment: scroll !important;
    }

    #yiayias-section-1 .bottom-padding {
 	  padding-bottom: 25px;
	}
}

@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1) {
	.fixed-backgrounds section {
        	background-attachment: scroll;
    }

    #yiayias-section-footer {
        	background-attachment: scroll !important;
    }
}

@media screen and (device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2) {
	.fixed-backgrounds section {
        	background-attachment: scroll;
    }

    #yiayias-section-footer {
        	background-attachment: scroll !important;
    }
}

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
	.fixed-backgrounds section {
        	background-attachment: scroll;
    }

    #yiayias-section-footer {
        	background-attachment: scroll !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { /* Fix for chrome being an asshole */
   	.fixed-backgrounds section {
        	background-attachment: scroll !important;
    }

    #yiayias-section-footer {
        	background-attachment: scroll !important;
    }
}


