/* Yiayia's scss
Written by Dylan Araps */

/* Variables */
$nav-height: 50px;
$nav-text: #FFFFFF;

/* Reset Styles */
html,
body,
ul {
	margin: 0;
	padding: 0;
}

/* Box Sizing */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Nav Styles */
nav {
	height: $nav-height; // Remember to set bottom margin to first element
	line-height: $nav-height;
	margin: 0 5%;
	position: fixed;
	top: 0;
	width: 90%;

	a {
		color: $nav-text;
		text-decoration: none;
	}

	li:first-child { // Styles the first list item, in this case the brand!
		float: left;
		font-weight: bold;
		margin-left: 0;

		&:hover {
			border: 0;
		}
	}

	li {
		display: inline-block;
		float: right;
		margin-left: 30px;
		transition: .2s;

		&:hover {
			border-bottom: 2px solid #FFFFFF;
			opacity: .7;
		}
	}

	.nav-brand {

	}

}

.nav-scroll {
	background: rgba(0, 0, 0, .5);
}

// Temp Styles
body {
	background: blue;
	height: 2000px;
}
